#info {
	background-color: var(--dark-color);
	display: flex;
	position: relative;
	padding: 111px 0px 80px 0px;
	justify-content: space-evenly;
}

#info img.G7-red {
	position: absolute;
	top: 80px;
	left: 110px;
}

#info div {
	width: fit-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* Tablet Version */
@media (max-width: 1024px) {
	#info {
		justify-content: space-around;
	}

	#info img.G7-red {
		left: 90px;
	}
}

/* smartphone Version */
@media (max-width: 720px) {
	#info {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 80px;
		padding: 89px 116px 60px 116px;
	}

	#info img.G7-red {
		left: 32px;
		top: 60px;
	}
}
