#header {
	position: relative;
	height: 720px;
	background-image: url("../../assets/Header-Background.png");
}

#header .cta {
	position: absolute;
	bottom: 0;
	right: 118px;
	background-color: rgb(00, 00, 00, 0.5);
	backdrop-filter: blur(20px);
	border: 4px solid #ffffff;
	border-bottom: 0px;
	border-radius: 20px 20px 0px 0px;
	padding: 50px 40px;
	color: #ffffff;
	width: 453px;
}

#header .cta button {
	background-color: var(--red-color);
	padding: 10px 32px;
	color: #ffffff;
	border: none;
	border-radius: 10px;
}

#header .cta p {
	position: relative;
	margin-bottom: 36px;
}

#header .cta p::after {
	position: absolute;
	bottom: -16px;
	left: 0;
	content: "";
	width: 60px;
	height: 4px;
}

#header .cta h2 {
	margin-bottom: 16px;
}

/* Tablet Version */
@media (max-width: 1024px) {
	#header .cta {
		width: 356px;
		right: 70px;
		padding: 50px 36px 59px 40px;
	}

	#header .cta p::after {
		bottom: -5px;
	}

	#header .cta p {
		margin-bottom: 35px;
	}
}

/* Smartphone version */
@media (max-width: 720px) {
}
