#testimonials {
	background-color: var(--dark-color);
	padding: 76px 128px 80px 128px;
}

#testimonials img.student-image {
	width: 100px;
	height: 100px;
}

#testimonials div.testimonials-container {
	display: flex;
	justify-content: space-between;
}

#testimonials div.student-info {
	width: 264px;
}

#testimonials h2 {
	position: relative;
	margin-bottom: 54px;
}

#testimonials h2::after {
	content: "";
	height: 4px;
	width: 80px;
	position: absolute;
	bottom: -1px;
	left: 0px;
}

#testimonials p.student-name {
	font-weight: 600;
}

#testimonials p.student-testimonial {
	font-weight: 100;
}

/* Tablet Version */
@media (max-width: 1024px) {
	#testimonials {
		padding: 80px 70px;
	}

	#testimonials div.testimonials-container {
		flex-direction: column;
		gap: 50px;
	}

	#testimonials h2 {
		margin-bottom: 60px;
	}

	#testimonials .student-info {
		display: flex;
		margin-left: 20px;
	}

	#testimonials .student-info img.student-image {
		margin-right: 28px;
	}

	#testimonials .student-info p {
		width: max-content;
	}

	#testimonials .student-info p.fs-20 {
		margin-bottom: 7px;
		margin-top: 8px;
	}
}
