:root {
	--dark-color: #181e1e;
	--red-color: #e63946;
	--pink-color: #ff6864;
	--yellow-color: #ffca28;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.alegreya {
	font-family: "Alegreya", serif;
	font-optical-sizing: auto;
	font-style: normal;
}

.inter {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-variation-settings: "slnt" 0;
}

.fs-16 {
	font-size: 16px;
}

.fs-40 {
	font-size: 40px;
}

a {
	text-decoration: none;
}

.white-text {
	color: white;
}

.red-text {
	color: var(--red-color);
}
