:root {
	--dark-color: #181e1e;
	--red-color: #e63946;
	--pink-color: #ff6864;
	--yellow-color: #ffca28;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: black;
	color: white;
}

html {
	scroll-behavior: smooth;
}

.alegreya {
	font-family: "Alegreya", serif;
	font-optical-sizing: auto;
	font-style: normal;
}

.inter {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-variation-settings: "slnt" 0;
}

.fs-13 {
	font-size: 13px;
}

.fs-16 {
	font-size: 16px;
}

.fs-18 {
	font-size: 18px;
}

.fs-30 {
	font-size: 30px;
}

.fs-20 {
	font-size: 20px;
}

.fs-40 {
	font-size: 40px;
}

.mb-0 {
	margin-bottom: 0px;
}

.mt-0 {
	margin-top: 0px;
}

a {
	text-decoration: none;
}

.white-text {
	color: white;
}

.red-text {
	color: var(--red-color);
}

.red-line::after {
	background-color: var(--red-color);
}

.yellow-line::after {
	background-color: var(--yellow-color);
}
